@model DeAnWEB.Models.ViewModel.ProductDetailsVM
@using PagedList.Mvc;
<link rel="stylesheet" type="text/css" href="~/Content/Css/Home.css" />

<!--Hiển thị danh sách sản phẩm-->
@if (Model.TopProducts != null && Model.TopProducts.Any())
{
    <section class="container-fluid featureProd">
        <h4 style="font-weight:bold;">Sản phẩm bán chạy</h4>
        <div class="feature-container">
            @foreach (var product in Model.TopProducts)
            {
                <div class="fproduct-item">
                    <div>
                        <a href="@Url.Action("ProductDetails","Home",new {id = product.ProductID})">
                            <img style="width:100%;height:auto;" src="@Model.product.ProductImage" />
                        </a>
                    </div>
                    <div>
                        <h5 style="padding:5px;">@Html.DisplayFor(modelItem => product.ProductName) </h5>
                        <p class="prodSale">@Html.DisplayFor(modelItem => product.ProductPrice) VNĐ</p>
                    </div>
                </div>
            }
        </div>
    </section>
}
