@section styles {
    <link rel="stylesheet" href="~/Content/Css/DetailProduct.css" />
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sản phẩm - Demo</title>
</head>
<body>
    <div class="allpage">
        <div class="product-page">
            <!-- Left: Gallery -->
            <div class="gallery">
                <div class="main-image">
                    <button class="nav-btn prev" onclick="prevImage()">&#10094;</button>
                    <img id="mainImage" src="~/Content/Images/BP1.jpg" alt="Sản phẩm chính" />
                    <button class="nav-btn next" onclick="nextImage()">&#10095;</button>
                </div>
                <div class="thumbnail-list">
                    <img src="~/Content/Images/BP1.JPG" onclick="changeImage(this)">
                    <img src="~/Content/Images/BP2.JPG" onclick="changeImage(this)">
                    <img src="~/Content/Images/BP3.JPG" onclick="changeImage(this)">
                    <img src="~/Content/Images/BP4.JPG" onclick="changeImage(this)">
                    <img src="~/Content/Images/BP5.JPG" onclick="changeImage(this)">
                    <img src="~/Content/Images/BP6.JPG" onclick="changeImage(this)">
                    <img src="~/Content/Images/BP7.JPG" onclick="changeImage(this)">
                    <img src="~/Content/Images/BP8.JPG" onclick="changeImage(this)">
                    <img src="~/Content/Images/BP9.JPG" onclick="changeImage(this)">
                </div>
            </div>

            <!-- Right: Product Info -->
            <div class="product-info">
                <div class="brand">ADIDAS</div>
                <h2>Giày Đá Bóng Dành Cho Sân Cỏ Nhân Tạo Nam Adidas F50 League Tf - Đen</h2>
                <div class="meta">
                    <a href="@Url.Action("Category", "Home")">Giày Đá Bóng</a>
                    <span class="sku">SKU JH7725</span>
                </div>

                <div class="price">
                    2.400.000₫ <span class="old-price"></span>
                </div>

                <div class="color-list">
                    <div class="color-item" onclick="selectColor(this, 'White')">
                        <img src="~/Content/Images/WP1.jpg">
                    </div>
                    <div class="color-item" onclick="selectColor(this, 'Purple')">
                        <img src="~/Content/Images/PP1.jpg">
                    </div>
                    <div class="color-item active" onclick="selectColor(this, 'Black')">
                        <img src="~/Content/Images/BP1.jpg">
                    </div>
                    <div class="color-item" onclick="selectColor(this, 'Orange')">
                        <img src="~/Content/Images/OP1.jpg">
                    </div>
                </div>




                <div class="size-options">
                    <h4>Kích Thước</h4>
                    <div class="size-list">
                        <button class="size" onclick="selectSize(this)">US 6</button>
                        <button class="size disabled">US 6.5</button>
                        <button class="size" onclick="selectSize(this)">US 7</button>
                        <button class="size disabled">US 7.5</button>
                        <button class="size disabled">US 8</button>
                        <button class="size" onclick="selectSize(this)">US 8.5</button>
                        <button class="size" onclick="selectSize(this)">US 9</button>
                    </div>
                    <!-- Hướng dẫn chọn kích thước + Kiểm tra tồn kho -->
                    <div class="extra-options">
                        <div class="links-row">
                            <a href="#">📏 Hướng dẫn chọn kích thước</a><br>
                            <a href="#">🏬 Kiểm tra tồn kho tại cửa hàng</a>
                        </div>

                        <div class="shoe-fit">
                            <div class="quantity">
                                <label for="quantity">Số lượng</label>
                                <div class="quantity-control">
                                    <button onclick="changeQty(-1)">−</button>
                                    <input style="width:30px;" type="text" id="qty" value="1">
                                    <button onclick="changeQty(1)">+</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="buy-actions">
                        <button type="button" class="btn buy" onclick="buyNow()">Mua ngay</button>
                        <button type="button" class="btn add" onclick="addToCart()">Thêm vào giỏ</button>
                    </div>

                    <div class="details">
                        <span>
                            🚚Miễn phí giao hàng đơn từ 699k Xem chi tiết. <br />
                            ↩️Đổi trả miễn phí đến 30 ngày Xem chi tiết. <br />
                            o%Trả góp 0% lãi suất từ 3.000.000 VNĐ. <br />
                            💳Thanh toán trực tuyến nhanh chóng và an toàn.<br />
                            ✔️Sản phẩm chính hãng 100%..<br />
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-details">
            <div class="details-left">
                <table>
                    <tr><th>Chiều cao đế</th><td>Từ 2 cm - 4 cm</td></tr>
                    <tr><th>Họa tiết đế</th><td>Đế đinh TF</td></tr>
                    <tr><th>Chất liệu thân giày</th><td>Tổng hợp, Cao su, EVA</td></tr>
                    <tr><th>Bề mặt sử dụng</th><td>Sân cỏ nhân tạo</td></tr>
                    <tr><th>Dịp sử dụng</th><td>Thi đấu</td></tr>
                    <tr><th>Môn thể thao</th><td>Bóng đá</td></tr>
                    <tr><th>Công nghệ</th><td>EVA Midsole</td></tr>
                    <tr><th>Tính năng nổi bật</th><td>Bám bóng tốt, Công nghệ giảm chấn, Đẩy lực - Tăng tốc</td></tr>
                    <tr><th>Loại dây giày</th><td>Có</td></tr>
                    <tr><th>Cổ</th><td>Cổ thấp</td></tr>
                    <tr><th>Kiểu dáng</th><td>Vừa vặn (Regular Fit)</td></tr>
                </table>
            </div>

            <div class="details-right">
                <h3>GIÀY ĐÁ BÓNG SÂN CỎ NHÂN TẠO NAM ADIDAS F50 LEAGUE</h3>
                <p>
                    Giày Đá Bóng Sân Cỏ Nhân Tạo Nam Adidas F50 League giúp bạn bứt tốc và thể hiện cá tính trên từng pha bóng. Thiết kế
                    nổi bật với họa tiết Sprintgrid và chất liệu Fiberskin linh hoạt, kết hợp lưỡi gà Tunnel Tongue giúp cố định bàn chân chắc chắn.
                    Đế giữa EVA và đế ngoài cao su đinh nhỏ hỗ trợ êm ái và ổn định khi di chuyển trên sân cỏ nhân tạo.
                </p>

                <h3>THÔNG SỐ</h3>
                <ul>
                    <li>Dáng giày: Regular fit</li>
                    <li>Kiểu dây/cổ giày: Cột dây</li>
                    <li>Thân giày: Chất liệu Fiberskin cùng họa tiết Sprintgrid nổi bật</li>
                    <li>Lớp lót: Vải mềm thoáng khí</li>
                    <li>Đệm giữa: EVA nhẹ, tăng độ êm khi chạy nước rút</li>
                    <li>Đế ngoài: Cao su thiết kế đinh nhỏ, phù hợp sân cỏ nhân tạo</li>
                    <li>Mã sản phẩm: JH7725</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- POPUP Thêm vào giỏ -->
    <div id="cartPopup" class="popup-overlay">
        <div class="popup-content">
            <h3>✅ Sản phẩm đã thêm vào giỏ!</h3>
            <button onclick="closePopup()">Tiếp tục mua sắm</button>
            <button onclick="goToCart()">Xem giỏ hàng</button>
        </div>
    </div>

    @section Scripts {
        <script src="~/Scripts/DetaiProduct.js"></script>
    }
</body>
</html>